form(action="/tasks", method="POST")
  label(for="name") Name
  input(type="text", name="name") 
  label(for="due-date") Due
  input(type="text", name="due-date")
  label(for="photo-url") Photo url
  input(type="text", name="photo-url")
  label(for="tags") Tags
  input(type="text", name="tags")
  label(type="priority") Priority
  input(type="text", name="priority")
  button(type="submit") Submit
