form(action="/tasks", method="POST")
  label(for="name") Name
  input(type="text", name="name") 
  label(for="due-date") Due
  input(type="text", name="due")
  label(for="photo-url") Photo url
  input(type="text", name="photo")
  label(for="tags") Tags
  input(type="text", name="tags")
  label(type="priority") Priority
  select(name="priority")
    option(value="high") High
    option(value="medium") Medium
    option(value="low") Low
  // input(type="text", name="priority")
  button(type="submit") Submit

