h1 task page

table
  thead
    tr
      th Name
      th Due
      th Photo
      th Complete
      th Tags
      th Priority
  tbody
    tr
      td Milk
      td 3/12/15
      td
      td
      td Home, Work
      td Low
    tr
      td Gas
      td 7/3/16
      td
      td
      td car, gas, lark
      td medium
    tr
      td Homework
      td 7/3/15
      td
      td
      td code, home, work
      td Hish

